body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    width: 95%;
    max-width: 788px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #f0f0f0;
}

.share-button svg {
    margin-left: 12px;
    margin-top: 10px;
    color: rgb(0,0,0);
}

.container {
    width: 91%;
    max-width: 680px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 20px;
    margin-bottom: -18px;
}

/* h2{
    font-family: poppins, Tahoma, sans-serif;
} */

a {
    text-decoration: none;
    color: rgb(240,240,240);
}

.tile {
    width: 100%;
    background-color: #EF4242;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile_KOT{
    width: 100%;
    background-color: #ffffff;
    margin: 7px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
}

.tile_KOT:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
    p{
        font-size: 25px;
        font-weight: bold;
    }

    .tile-share-button{
        padding: 10px 0px 10px 0px;
    }
    
    .icon{
        margin: 8px 12px;
        padding: 8px 0px 8px 0px;
    }
}

.tile:hover {
    transition: cubic-bezier(.07, 1.41, .82, 1.41) 0.2s;
    transform: scale(1.02);
    p{
        font-size: 23px;
        font-weight: bold;
    }

    .tile-share-button{
        padding: 10px 0px 10px 0px;
    }
    
    .icon{
        margin: 8px 12px;
        padding: 8px 0px 8px 0px;
    }
}


.tile-share-button {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #EF4242;
}

.tile-share-button_KOT {
    margin: 8px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
}

.tile-share-button svg {
    margin-left: 12px;
    margin-top: 10px;
}


.image-container {
    height: 100px;
    width: 100px;
    border-radius: 28px;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    margin: 4px 8px;
    width: 44px;
    height: 44px;
}